body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    color: #fff;
    backdrop-filter: blur(-500px); /* Add a blur effect to the result area */
    
}

.display input {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-bottom: 1px solid #555;
    text-align: right;
    background-color: #444;
    color: #fff;
    box-sizing: border-box; 
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding: 10px;
    font-size: 20px;
}

button {
    padding: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #444;
    cursor: pointer;
    color: #fff;
}

.operator {
    background-color: #f06292;
}

.clear {
    background-color: #ff5722;
}

.calculate {
    background-color: #4caf50;
}
